.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  color: rgba(0, 0, 0, 0.9);
}
.item:hover {
  background-color: hsla(0, 0%, 60%, 0.1);
}
.no-results {
  margin: 1rem;
  text-align: center;
}
