.loader {
  margin: auto;
  border: 0.25rem solid #000;
  border-top: 0.25rem solid #eee;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
