.sort-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding: 0.25rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.sort-item {
  flex: 0 1 auto;
  text-transform: capitalize;
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
}
.sort-item-icon {
  color: #333;
  margin: 0 0.25rem;
}
